
@{
    ViewData["Title"] = "Inicio de sesión";
}

<h1>Inicio de sesión</h1>
<form method="post">
    <label>Email</label>
    <input type="text" name="email" />
    <br />
    <label>Contraseña</label>
    <input type="password" name="clave" />
    <br />
    <input type="submit" value="Iniciar sesión" />
</form>
@ViewBag.Msj

